.messages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 12.77px;

}

.messages::before {
    width: 12.77px;
    height: 12.77px;
    color: var(--orange);
    border-radius: 100%;
}

.messages-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 40px;
    height: 12.77px;
}


.notification{
    width: 12.77px;
    height: 12.77px;
    background-color: var(--orange);
    background-color: orange;
    border-radius: 50%;
}


.notif{
    width: 12.77px;
    height: 12.77px;
    width: 40px;
    height: 40px;
    color: orange;
    border-radius: 100%;
}


.red{
    color: red;
    background-color: orange;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}